# Updating data frames

## Updating values in a dataframe

Let's start by importing packages and data

In [1]:
import numpy as np
import pandas as pd
import random # Used for randomly sampling integers

# Set the seed
random.seed(42)

# Import data
URL = 'https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv'
penguins = pd.read_csv(URL)

In [2]:
# Add column body mass in kg
penguins['body_mass_kg'] = penguins['body_mass_g'] / 1000

# Confirm the new column is in the data frame
print('body_mass_kg' in penguins.columns)

True

In [3]:
# Create random 3-digit codes
codes = random.sample(range(100, 1000), len(penguins)) # Sampling w/o replacement

In [4]:
# Insert codes at the front of the data frame
penguins.insert(loc = 0, # Index
                column = 'id_code',
                value = codes)
penguins.head()

,id_code,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
0,754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45

## A Single Value

Access a single value in a `pandas.DataFrame` using locators

- `at[]` to select by labels, or
- `iat[]` to select by index position.

Syntax:
```
df.atp single_index_value, 'column_name']
```

* `at[]` equivalent of `loc[]` when accessing a single value*

### Example

In [5]:
penguins = penguins.set_index('id_code')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
id_code,,,,,,,,,
754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.750
214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.800
125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.250
859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.450
...,...,...,...,...,...,...,...,...,...
140,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.000
183,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.400
969,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.775
635,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.100
883,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.775

What was the bill length of the penguins with ID 677?

In [7]:
# Check bill length of penguin with ID 677
penguins.at[754, 'bill_length_mm']

39.1

In [8]:
# Check bill length of penguin with ID 127
penguins.at[127, 'bill_length_mm']

38.2

In [9]:
# Check bill length of penguin with ID 127
penguins.at[127, 'bill_length_mm'] = 38.3

# Confirm value was updated
penguins.loc[127]

species              Adelie
island               Biscoe
bill_length_mm         38.3
bill_depth_mm          18.1
flipper_length_mm     185.0
body_mass_g          3950.0
sex                    male
year                   2007
body_mass_kg           3.95
Name: 127, dtype: object

If we want to access or update a single value by index position we use `iat[]` locator:

Syntax:
```
df.lat[index_integer_location, column_integer_location]
```

Dynamically get the location of a single column
```
df.columns.get_loc('column_name')
```

## Check-in
a. Obtain the location of the `bill_length_mm` column programatically
b. use `iat[]` to access the bill length for the penguin with ID 127 (you may have a different ID) and revert it back to NA. Confirm the changes in your favorite way.

In [13]:
# Set to NAN using iat
bill_length_index = penguins.columns.get_loc('bill_length_mm')
penguins.iat[3, bill_length_index] = np.nan

In [14]:
penguins.iat[3, bill_length_index] = 'NaN'
penguins.iloc[3]

species                 Adelie
island               Torgersen
bill_length_mm             NaN
bill_depth_mm              NaN
flipper_length_mm          NaN
body_mass_g                NaN
sex                        NaN
year                      2007
body_mass_kg               NaN
Name: 859, dtype: object

In [15]:
type(np.nan)

float

In [16]:
type('NaN')

str

## Multiple values in a column

### Using a condition

Example:

We want to classify the Palmer penguins such that:

- Penguins with body mass < 3kg are small
- Penguins with 3kg <= body mass < 5kg are medium
- penguins with 5kg < body mass are large

In [18]:
# Create a list with the conditions
conditions = [penguins.body_mass_kg < 3,
              (3 <= penguins.body_mass_kg) & (penguins.body_mass_kg < 5),
              5 <= penguins.body_mass_kg]

# Create a list with the choices
choices = ['small',
           'medium',
           'large']

# Add the selections using np.select
penguins['size'] = np.select(conditions,
                             choices,
                             default = np.nan) # Value for anything outside conditions

# Display updated dataframe
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg,size
id_code,,,,,,,,,,
754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75,medium
214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80,medium
125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25,medium
859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN,nan
381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45,medium

## Update values by selecting them

We can do this with `loc` or `iloc` and assigning new values

Syntax:
```
df.loc[ row_selection, column_names] = new_values
```

Using `loc[]` in assignment modifies the data frame directly with0ut the need for reassignment

### Example

Usdate the 'male' values in the sex column to 'M'

In [19]:
# Select row with sex = male and simplify values in 'sex' column
penguins.loc[penguins.sex == 'male', 'sex'] = 'M'

In [21]:
# Check changes in 'sex' column
print(penguins.sex.unique())

['M' 'female' nan]

### Best practices

We want to update the 'female' values in the 'sex' column to 'F'

In [23]:
# Select row where 'sex' is female and attempt to update to values
penguins[penguins.sex == 'female']['sex'] = 'F' # Raises SettingWithCopyWarning

/tmp/ipykernel_1051699/4189773950.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins[penguins.sex == 'female']['sex'] = 'F'

**Avoid chained indexing** `[][]` and use `.loc[]` instead. This warning happens generally when we have chained indexing:
```
df[row_selection][column_selection] = new_value
```

## Check-in 
Update the 'female' values without the warning and check that the valuess were updated.

In [24]:
# Select rows with sex = female and simplify values in 'sex' column
penguins.loc[penguins.sex == 'female', 'sex'] = 'F'

penguins.sex.unique()

array(['M', 'F', nan], dtype=object)

This warning comes up because some `pandas` operations return a view, and others return a copy of your data.

- **Views**: actual subsets of the original data, when we update them, we are modifying the original data frame.

- **Copies**: unique objects, independent of our original data frames. When we update a copy we are not modifying the original data.

## Example
We only want to use data from Biscoe island, after doing some analyses, we want to add a new column.

In [26]:
# Select penguins from Biscoe Island
biscoe = penguins[penguins.island == 'Biscoe']

# ... other analyses ...

# Add a column
biscoe['sample_column'] = 100

/tmp/ipykernel_1051699/627029751.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biscoe['sample_column'] = 100

We can also explicitely ask for a copy of a dataset when subsetting using the `copy()` method.

In [27]:
# Select penguins from Biscoe Island
biscoe = penguins[penguins.island == 'Biscoe'].copy()

# ... other analyses ...

# Add a column
biscoe['sample_column'] = 100

In [28]:
biscoe.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg,size,sample_column
id_code,,,,,,,,,,,
338,Adelie,Biscoe,37.8,18.3,174.0,3400.0,F,2007,3.40,medium,100
617,Adelie,Biscoe,37.7,18.7,180.0,3600.0,M,2007,3.60,medium,100
716,Adelie,Biscoe,35.9,19.2,189.0,3800.0,F,2007,3.80,medium,100
127,Adelie,Biscoe,38.3,18.1,185.0,3950.0,M,2007,3.95,medium,100
674,Adelie,Biscoe,38.8,17.2,180.0,3800.0,M,2007,3.80,medium,100

In [29]:
'sample_column' in penguins.columns

False